.fira-sans-normal{
  font-family: "Fira Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    color: #006A50;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-size: 32;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px;
  }
  nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 51px;

}
nav li a {
    text-decoration: none;
    font-size: 20px;

}
.starting{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 20px 160px;
}
.one{
    padding: 117px 59.99px;
}
.two{
    color: rgba(14, 14, 14, 0.5);
    font-size: 24px;
    font-weight: 500px;
}
.three{
    color: #0E0E0E;
    font-size: 56px;
    font-weight: 600;
}
.four{
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
    padding: 17px 34px;
    color: white;
    cursor: pointer;
    border: none;
}
.four:hover {
  background-color: rgba(0, 106, 80, 0.6);
}
.five{
    height: 400px;
    width: 474.03px;
    padding-right: 59.99px;
}
.pillars{
  margin: 80px 160px;
  
}
.pillars-title{
  font-size: 40;
  font-weight: 700;
}
.pillars-container{
  display: flex;
  gap: 24px;
}
.pillars-parts{
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.pillar-img{
  height: 64px;
  width: 64px;
  
}
.pillar-img-title{
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
}
.pillar-img-subtitle{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}
.vision{
  display: flex;
  gap: 24px;
}
.vision-items{
  padding: 32px;
  border-radius: 16px;

}
.blue{
  background-color: rgba(84, 144, 245, 0.2);
  stroke: rgba(84, 144, 245, 1);
}
.green{
  background-color: rgba(198, 228, 214, 1);
  stroke: rgba(9, 161, 92, 1);
}
.orange{
  background-color: rgba(247, 235, 207, 1);
  stroke: rgba(255, 194, 57, 1);
}
.btn-1{
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600px;
  border: none;
  border-radius: 8px;
  background-color: rgba(84, 144, 245, 1);
  color: white;
  cursor: pointer;
}
.btn-1:hover{
  background-color: rgba(84, 144, 245, 0.6);
}
.btn-2{
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600px;
  border: none;
  border-radius: 8px;
  background-color: rgba(9, 161, 92, 1);
  color: white;
  cursor: pointer;
}
.btn-2:hover{
  background-color: rgba(9, 161, 92, 0.6);
}
.btn-3{
  padding: 11px 20px;
  font-size: 16px;
  font-weight: 600px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 194, 57, 1);
  color: white;
  cursor: pointer;
}
.btn-3:hover{
  background-color: rgba(255, 194, 57, 0.6);
}
.yunus{
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position-x: 24px;
  background-position-y: 15px;
  background-size: 64px 64px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  margin-top: 32px;
  border-radius: 16px;
  border: 1px solid #ddd;
}
.yunus-statement{
  padding: 48px 24px 12px 24px;
  color: rgba(14, 14, 14, 0.8);
}
.yunus-name{
  padding: 0px 24px 48px 24px;
}
.opinion{
  margin: 80px 160px;
}
.opinion-daw{
  padding: 32px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
}
.opinion table {
  width: 100%;
  border-collapse: collapse;
}
.opinion th {
  background: rgba(198, 228, 214, 1);
  padding: 24px 24px;
  text-align: left;
  font-size: 20px;
  font-weight: 600px;
}

.opinion td {
  padding: 36.5px 24px;
  font-size: 16px;
  font-weight: 600px;
  border: 1px solid #ddd;
}

.opinion select {
  padding: 10px 14px;
  font-size: 16px;
  font-weight: 500px;
  border-radius: 4px;
  background: rgba(198, 228, 214, 1);
  border: 1px solid #ccc;
  cursor: pointer;
}
.news{
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  padding: 48px;
  gap: 32px;
  border-radius: 24px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.satelite{
  width: 408px;
  height: 306px;
  border-radius: 24px;
}
.news-content{
  font-size: 32px;
  margin-bottom: 12px;
  font-weight: 700px;
  color: rgba(14, 14, 14, 0.8);
}
.al-jazeera{
  width: 134px;
  height: 40px;
}
.btn-4{
  padding: 13px 26px;
  font-size: 18px;
  font-weight: 600px;
  background-color: rgba(0, 106, 80, 1);
  border-radius: 8px;
  border: none;
  color: white;
  cursor: pointer;
}
.btn-4:hover{
  background-color: rgba(0, 106, 80, 0.6);
}
.donate{
  text-align: center;
}
.donate-taka{
  display: flex;
  gap: 24px;
  margin: 32px 104.5px;
  justify-content: space-evenly;
}
.btn-5{
  font-size: 40px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: 700px;
  padding: 40px 40px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.15);
}
.btn-6{
  font-size: 40px;
  font-weight: 700px;
  padding: 40px 40px;
  border-radius: 16px;
  background-color: rgba(198, 228, 214, 1);
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.other{
  font-size: 20px;
  font-weight: 400px;
  text-align: center;
  margin: 32px 124px;
  padding: 20px 422.5px;
  color: rgba(14, 14, 14, 0.3);
}
.donate{
  text-align: center;
}
.donate-para{
  padding: 0px 88px;
}
.donate-buttons {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 32px;
}
.donate-option {
  padding: 40px 40px;
  border: 1px solid #ddd;
  border-radius: 16px;
  font-size: 40px;
  font-weight: 700px;
  cursor: pointer;
  background-color: #fff;
  transition: background 0.3s ease;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.donate-option-2 {
  padding: 40px 40px;
  border-radius: 16px;
  font-size: 40px;
  font-weight: 700px;
  cursor: pointer;
  transition: background 0.3s ease;
  background-color: rgba(198, 228, 214, 1);
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.donate-option-2:hover{
  background-color: rgba(198, 228, 214, 0.6);
}
.donate-option:hover {
  background-color: #f5f5f5;
}
.donate input[type="text"]{
  padding: 20px;
  width: 73%;
  margin-bottom: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  text-align: center;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.donate ::placeholder{
  font-size: 20px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
}
.donate-submit {
  font-size: 18px;
  font-weight: 600px;
  padding: 17px 34px;
  background-color: #006A50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
}
.donate-submit:hover {
  background-color: #218838;
}
.subscribe{
  text-align: center;
  background-color: rgba(198, 228, 214, 1);
  border-radius: 24px;
  padding: 80px 265px;
}
.subscribe-title{
  font-size: 40px;
  font-weight: 700px;
  margin-bottom: 16px;
}
.subscribe-subtitle{
  padding: 0px 64px;
}
.email{
  font-size: 16px;
  font-weight: 400px;
  padding: 18px 40px;
  width: 500px;
  height: 17px;
}
.btn-7{
  padding: 17px 34px;
  width: 150px;
  height: 53px;
  color: white;
  background-color: rgba(0, 106, 80, 1);
  border: none;
  border-top-right-radius: 6px;
  border-end-end-radius: 6px;
  cursor: pointer;
}
.btn-7:hover{
  background-color: rgba(0, 106, 80, 0.6);
}
.footer{
  text-align: center;
}
.icon{
  display: flex;
  gap: 23px;
  justify-content: center;
}
.icon-img{
  width: 24px;
  height: 24px;
  cursor: pointer;
}
.icon-img:hover{
  background-color: rgba(0, 0, 0, 0.15);
}
.subscribe-item{
  display: flex;
  justify-content: center;
}
.subscribe input[type="email"]{
  font-size: 16px;
  font-weight: 400px;
  border: none;
  padding: 18px 403px 18px 40px;
  border-top-left-radius: 6px;
  border-end-start-radius: 6px;
}
.promise{
  margin-top: 24px;
}