.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
    color: #006A50;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-size: 32;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 160px;
  }
  nav ul{
    display: flex;
    align-items: center;
}
nav ul li {
    list-style: none;
    margin-right: 51px;

}
nav li a {
    text-decoration: none;
    font-size: 20px;

}
.starting{
    display: flex;
    align-items: center;
    background-color: #C6E4D6;
    border-radius: 24px;
    margin: 20px 160px;
}
.one{
    padding: 117px 59.99px;
}
.two{
    color: #0E0E0E;
    font-size: 24px;
    font-weight: 500px;
}
.three{
    color: #0E0E0E;
    font-size: 56px;
    font-weight: 600;
}
.four{
    background-color: #006A50;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600px;
    padding: 17px 34px;
}
.five{
    height: 400px;
    width: 474.03px;
}
.pillars{
  margin: auto 160px;
  padding: 80px;
}
.pillars-title{
  font-size: 40;
  font-weight: 700;
}
.pillars-container{
  display: flex;
  gap: 24px;
}
.pillars-parts{
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.pillar-img{
  height: 64px;
  width: 64px;
  
}
.pillar-img-title{
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
}
.pillar-img-subtitle{
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
}